pandas==1.2.4
gspread==4.0.1
eth_account==0.5.9
discord.py==1.7.3
gspread_dataframe==3.2.1
emoji==1.6.1
eth_account==0.5.9
gspread==4.0.1
tenacity==8.0.1
requests==2.22.0
web3==5.24.0
gspread_dataframe==3.2.1
numpy==1.22.0
cryptography==39.0.1
aiohttp==3.7.4.post0
discord==1.7.3
Pillow==9.3.0
PyGithub==1.55
PyYAML==6.0
python_dateutil==2.8.2
qrcode==7.3.1
googletrans==3.1.0a0